@import normalize.css
@import "css/helpers"

body
  margin: 0
  padding: 0

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 62.5%
  line-height: 1

  // Mobile specific styling to prevent unwanted sizing or selecting
  -webkit-user-select: none
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

// Main application header area
#header
  position: relative
  z-index: 10000
  height: 44px
  width: 100%

  +fourstop-gradient(#6EBED8, #4EAFD0, #3EA8CC, #2F91B1)
  +box-shadow(0, 0, 3px, #7e7e7e)

  border-bottom: 1px solid #226981
  border-top: 1px solid #2F91B1

  // Screen title div, along with active state
  .headline
    position: relative
    padding: 0 138px 0 10px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    +fourstop-gradient(#6EBED8, #4EAFD0, #3EA8CC, #2F91B1)
    +box-shadow-inset(0, 3px, 2px, #AEDBEA, -2px)

    color: #FFFFFF
    text-shadow: 0 -1px 1px #2F91B1

    font-weight: bold
    font-size: 20px
    line-height: 44px

    // We have to fake this on Android since it won't handle :active properly
    // on elements that aren't an anchor tag.  See the mobile javascript code 
    // to see the implementation.
    &:active,
    &.fake-active
      +fourstop-gradient(#4EAFD0, #339EC1, #2F91B1, #277691)
  
  // Action buttons with embossed look
  .btn
    position: absolute
    padding: 0 12px // Keep this a fair size to make the clickable region large
    //                 enough to avoid frustrating users.
    min-height: 44px
    min-width: 44px

    a
      display: block
      margin: 7px 0
      padding: 0

      height: 30px
      min-width: 30px

      +twostop-gradient(#5EB7D4, #226981)
      +box-shadow-inset(0, 0, 3px, #1E5C71, -1px)

      color: white
      text-align: center
      text-decoration: none
      text-shadow: 0 -1px 0px #1A4F61

      font-size: 14px
      line-height: 30px
      font-weight: bold

      border: 1px solid #226981
      border-bottom: 1px solid #3EA8CC
      border-radius: 4px

      img
        margin: 4px 0 5px 0
        padding: 0
        height: 20px
        width: 20px
        border: 0
        outline: 0

// Search screen styling
#search_form
  position: relative
  height: 50px
  width: 100%
  padding: 8px 5px

  box-sizing: border-box
  -webkit-box-sizing: border-box

  +twostop-gradient(#E6E6E6, #CECECE)
  border-bottom: 1px solid #999999

  .input_container
    padding: 0 30px
    height: 32px

    border-radius: 5px
    border: 1px solid #B7B7B7

    background: #FFFFFF
    background-position: 8px 50%
    background-repeat: no-repeat
    background-image: url("http://skatehamilton.herokuapp.com/assets/magnifier.png")
    background-size: 16px 16px

    input
      display: inline-block
      margin: 0
      padding: 6px 0
      width: 100%

      +background-clip
      background: transparent none
      border: none
      outline: none !important

      color: #444444
      font-size: 16px
      line-height: 20px

    ::-webkit-input-placeholder
      color: #999999

// Allow the user to select their current location as the search origin.
.hint
  display: none // Hide until the address field is active
  padding: 10px 5px

  +twostop-gradient(#FBFBFC, #F7F7F8) //background: #f9f9fa
  border-bottom: 1px solid #D9D9D9

  font-size: 16px
  line-height: 1
  font-weight: bold
  color: #595959

  img
    float: left
    margin: 0 5px 0 0

// Marker bar in between search field and the listing of the results
.result_marker
  position: relative
  padding: 6px 5px

  background: #2F91B1
  border-top: 1px solid  #277691
  border-bottom: 1px solid #226981

  color: #FFFFFF
  font-weight: bold
  font-size: 16px
  text-shadow: 0 -1px 1px #226981

  +box-shadow-inset-top(0, 1px, 1px, rgba(255, 255, 255, 0.4))

// Listing of all the result
.results
  list-style-type: none
  margin: 0
  padding: 0

  .result
    position: relative
    margin: 0
    padding: 5px 24px 10px 5px
    min-height: 45px

    +twostop-gradient(#FCFCFC, #EDEDED)

    border-top: 1px solid #FFFFFF
    border-bottom: 1px solid #CDCDCD

    color: #444
    text-shadow: 0 1px 1px #FFFFFF

    .info 
      float: left

    p
      margin: 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    p.name
      font-weight: bold
      font-size: 16px
    
    p.address
      margin-bottom: 5px
      font-size: 12px
      line-height: 1.5
    
    img.type
      float: left
      margin-right: 5px

    img.arrow
      position: absolute
      top: 50%
      margin-top: -8px
      right: 5px
      opacity: 0.45

    span.count
      font-size: 12px
      line-height: 1
      color: #FFFFFF

      padding: 1px 4px 0
      margin-right: 2px
      text-shadow: 0 -1px 1px #9E9E9E

      +box-shadow-inset-top(0, 1px, 1px, #E7E7E7)

      border: 1px solid #BFBFBF
      border-bottom: 1px solid #AFAFAF
      font-weight: bold
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px

      +twostop-gradient(#D5D5D5, #C3C3C3)
    
    span
      color: #92999C
      font-size: 12px