body {
  font: normal 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

.clearfix { clear: both; }

/**
 * Specific styling for the desktop application part of the site as it should
 * act as an app and disallow scrolling and the rest.
 */
body.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0px;
  left: 90px;
  z-index: 10;

  margin: 0;
  padding: 5px 0;

  border: 1px solid #ccc;
  border-top: 0;

  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -ms-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ececed));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -o-linear-gradient(top, #fdfdfd, #ececed);
  background-image: linear-gradient(top, #fdfdfd, #ececed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ececed', GradientType=0);

     -moz-box-shadow: 0 0 8px 1px #aaa;
  -webkit-box-shadow: 0 0 8px 1px #aaa;
          box-shadow: 0 0 8px 1px #aaa;
}

#header #logo {
  float: left;
  width: 150px;
  height: 64px;
  margin: -10px 0;
  background-color: transparent; /* png transparency fix */
}

#header form {
  margin: 0;
  padding: 0;
  float: left;
}

#header #query {  
  margin: 5px 25px 5px 5px;
  padding: 6px 4px 6px 25px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;

  background-image: url(/images/magnify.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 4px 6px;

  border: 1px solid #ccc;
  outline: 0;
  vertical-align: top;
}

#header #query[placeholder] {
  padding-left: 28px;
}

#header .tagline {
  float: left;
  width: 150px;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#header a {
  float: right;
  margin: 0 30px 5px 0;
  font-size: 12px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 90px;
  z-index: 10;

  margin: 0;
  padding: 5px 10px 5px 0px;

  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -ms-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ececed));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #ececed);
  background-image: -o-linear-gradient(top, #fdfdfd, #ececed);
  background-image: linear-gradient(top, #fdfdfd, #ececed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ececed', GradientType=0);

     -moz-box-shadow: 3px 3px 12px 1px #888;
  -webkit-box-shadow: 3px 3px 12px 1px #888;
          box-shadow: 3px 3px 12px 1px #888;
  
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
}

#footer a {
	color: #666;
}

#footer a img {
  height: 14px;
  width: 14px;
  margin-right: 4px;

  vertical-align: middle;
  outline: 0;
  border: 0;
}

#footer a, 
#footer b {
  padding: 0 10px;
  border-right: 1px solid #bbb;
}

#footer span {
  padding: 0 0 0 30px;
  font-size: 12px;
  line-height: 21px;
  font-style: italic;
  color: #666;
}

#map {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  width: 100%;
  height: 100%;
}

#advanced {
  position: absolute;
  top: 70px;
  left: 115px;

  margin: 0;
  padding: 10px 20px 15px 20px;
  display: none;
  z-index: 9;

  width: 380px;
  border: 1px solid #ccc;
  background: white;

     -moz-box-shadow: 0 0 8px 1px #aaa;
  -webkit-box-shadow: 0 0 8px 1px #aaa;
          box-shadow: 0 0 8px 1px #aaa;

     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
}

#advanced h4 {
  color: #333;
  margin: 5px 0;
  padding: 0;
}

#advanced .types {
  list-style: none;
  width: 100%;

  margin: 10px 0 20px 0;
  padding: 0;

  border: 1px solid #bbb;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

#advanced .types .item {
  float: left;
  width: 66px;
  text-align: center;

  padding: 5px 0;
  cursor: pointer;

  border-left: 1px solid #ccc;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);

  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #aaa;

  text-shadow: 0 1px 1px #fff;
}

#advanced .types .item.active {
  color: #666;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec', GradientType=0);
  
     -moz-box-shadow: inset 0 0 4px #c6c6c6;
  -webkit-box-shadow: inset 0 0 4px #c6c6c6;
          box-shadow: inset 0 0 4px #c6c6c6;
}

#advanced .types .item:first-child { border-left: 0; width: 70px; }

/* Specific sizing for a four option list */
#advanced .types.transit .item { width: 83px; }
#advanced .types.transit .item:first-child { width: 86px; }

button {
  color: #333;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec', GradientType=0);
  border: 1px solid #ccc;

  margin: 5px 0 0 0;
  padding: 5px 15px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1;

  text-shadow: 0 1px 1px #fff;
}

button:active {
  text-shadow: 0 -1px 1px #fff;
  box-shadow: inset 0 0 6px #aaa;
  border: 1px solid #bbb;

  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
  background-image: linear-gradient(top, #f6f6f6, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eaeaea', GradientType=0);
}

button.cancel {
  margin: 5px 10px 0 10px;
  color: #666;
  border: 1px solid #ddd;
}

button.cancel:hover {
  color: #333;
  border: 1px solid #ccc;
}