%h1= 'Splash Help'

%p= 'Here\'s a heads-up about some common questions you probably have about Splash.  We\'ve got you covered!'

%ul
  %li
    %b= 'Here\'s a great question that a lot of people have!'

    %p= 'And here\'s the insightful and thoughtful answer they\'re looking for.  42.'