!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}
    %title Splash

    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}

    = css :application
    = js :slim
    
    %body{:class => 'slim'}
      = partial(:header)
      #container
        = yield