%form#search_form
  .input_container
    %input{:type => 'text', :name => 'query', :id => 'q', :placeholder => 'Address or facility name'}
  
.hint.img
  = img '/images/blue-pin.png'
  = 'Current Location'